body{
    font-family: Georgia, Helvetica, sans-serif;
	width: 100%;
    margin: 0;
    padding: 0;
}

/* topbar */

.topbar {
    position: fixed;
    top: -15px;  
    width: 100%;
    height: 40px;
	z-index: 999;
}

.topbar ul {    
    background: #999;
    padding:0;
    font-size:15px;
    color:#3366cc;
    list-style-type: none;
    overflow:hidden;
}

nav ul li a {
	height: 100%;
    padding: 7px 0;
}

nav ul li {
    text-align: center;
    width: 24.8%;
    float:left;
    border-top:solid 2px #bad3ea;
    border-left:solid 1px #bad3ea;   
}
    
nav a:link {
	display: block;
    text-decoration:none;
}

nav ul li:active{
    border-top: solid 3px #1a54e1;
    color:#363636;
    font-weight:bold;
}

nav ul li:hover   {
    background:#e4ebf8;
    cursor:pointer;
}

/* top end */

a {
    color:#003;
}

.rest_page{
    position:absolute;
    top:29px;
    width:100%;
    padding:0 10px 50px 10px;
    /*for non-CSS3 browsers*/
    background: #EECBAD;
    /*for webkit based browsers, e.g. Chrome, Safari*/
    background: -webkit-gradient(linear, left top, left bottom, from(#FFEC8B), to(#EECBAD));
    /*for Firefox*/
    background: -moz-linear-gradient(top,  #FFEC8B,  #EECBAD);
    /*For Internet Explorer*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEC8B', endColorstr='#EECBAD)');
}

footer {
    position:fixed;
    bottom: 0;
    width:100%;
    height:40px;
    clear:both;
    background:#d3d3d3;
}

footer nav {   
    margin-top:-15px;
    margin-left:-40px;
}

footer ul{
    list-style-type: none;
}
    
.picture_panel {
      text-align:center;
}

.picture_panel h2{
    
    font-size:2em;
}

.icon_column{
    width:30%;
    float:left;
    text-align:center;
    margin: 0 5px;
}

.headlines{
    text-align:center;
}
    
.center-column {
      border-left: solid 2px #bad3ea; 
      border-right: solid 2px #bad3ea; 
      padding: 0 5px;
}

.left-panel-float {
    float: left;
    clear:left;
     width: 30%;
}

.right-panel-content {
    padding: 0 20px 0 0;
    float: right;
    clear:right;
    width: 65%;
}